{
    "presets": [
      "babel-preset-react",
      "babel-preset-env",
    //   "babel-preset-es2016",
      "react",
      ["env", { "modules": false }],
      "stage-2"
    ],
    "plugins": [
      "babel-plugin-transform-class-properties",
      "transform-object-rest-spread",
      "transform-react-jsx"
    ]
  }